h1 {
    background-color: #FFC300;
}

#p1 {
    font-weight: 600;
}

#p2 {
    font-weight: bold;
    text-transform: capitalize;
    font-family: sans-serif;
}

#list {
    text-transform: capitalize;
    font-weight: 600;
}

.container {
    position: relative;
}

.text-block {
    position: absolute;
    top: 2px;
    left: 5px;
    color: #FFC300;
    padding-top: 20px;
    padding-left: 20px;
    font-size: medium;
}